<div class="mt-4">
  <div> <%=  %>
    <a href="/articles/<%= @article.id %>">
      <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i> Back to Article View
    </a>
  </div> 
  <h1 class="mt-2"><strong>Update Article</strong></h1>
  <%= render 'form', article: @article %>
</div>