<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Show all tasks</h1>
  <%= link_to "Create New Article", "/articles/new", :class => "btn btn-primary text-white" %>
</div>

<% @articles.each do |a| %>
 <h2><%=  link_to a.title, "articles/#{a.id}" %></h2>
 <p><%= a.content %></p>
<% end %>

