<div class="mt-4">
  <div>
    <a href="/articles">
      <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i> Back to All Articles
    </a>
  </div> 
  <h1 class="mt-2"><strong>Create a New Article</strong></h1>
  <%= render 'form', article: @article %>
</div>
